<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <!-- Define parameters for the base URL -->
    <Parameter name="BaseUrlDev" value="https://www.saucedemo.com/" />
    <Parameter name="BaseUrlTest" value="https://www.saucedemo.com/" />
    
        <!-- Define parameter for the browser -->
        <Parameter name="BrowserType" value="chromium" />
  </TestRunParameters>
  
  <!-- Playwright settings -->
  <Playwright>
    <BrowserName>msedge</BrowserName>
    <LaunchOptions>
      <Headless>false</Headless>
      <Channel>msedge</Channel>
    </LaunchOptions>
  </Playwright>
</RunSettings>